.info{"data-message-id": "#{message.id}"}
  .info_upper
    .info_user
      = message.user.name
    .info_date
      = message.simple_time(@test[:created_at] )
  .message_text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

    = simple_time(@test[:created_at] )
