.flash-box
  .notice

.side
  .side__header
    %p.user 
      = current_user.name
    %ul.user_menu
      %li.edit_user< 
        = link_to new_group_path do
          =fa_icon 'edit'
      %li.new_group
        = link_to edit_user_path(current_user) do
          =fa_icon 'cog'
  .side__groups
    - current_user.groups.each do |group|
      .group
        %p.group_name 
          = group.name
        %p.group_message 
          = group.show_last_message
        

.main
  .main__header
    .current-group
      %h1.current-group__name 
        = @group.name
      .group-set
        .group-member Member : 
        .member-list  
          - @members.each do |member|
            = member.name
    = link_to edit_user_path(current_user) do
      .edit-btn Edit
  .main__messages
    = render @messages
  .main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box', placeholder: 'type a message' 
      .input-text
        = f.label :image, class: 'image-label' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'image-input'
      = f.submit 'Send', class: 'submit-btn'
